.cartContent {
    /* float: left; */
    
}

.header {
    display: flex;
    width: fit-content;
    margin-left: 2rem;
}

.header h4 {
    margin-left: 24rem;
    margin-top: 1.7rem;
}

.summary {
    border-top-style: dashed;
    border-width: 1px;
    display: flex;
}

.cartContent h3 {
    margin-left: 7.5rem;
    margin-top: 2rem;
}

.picture {
    width: 70px;
    height: 60px;
}

.description {
    margin-left: 20px;
    margin-top: 10px;
    clear: both;
}

.value {
    /* float: right; */
    position: fixed;
    right: 3rem;
    margin-top: 10px;
}

.quantity {
    margin-left: 10px;
}

.quantity button {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border-style: none;
    background-color: #6495ed82;
}

.quantity button:hover {
    background-color: #6495edd4;
    cursor: pointer;
}

.summary button {
    margin-left: 7.5rem;
    margin-top: 1.5rem;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border-style: none;
    background-color: #6495edd4;
    font-size: 1.17em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.summary button:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}

.price {
    margin-top: 5px;
}