.emptyMsg {
    text-align: center;
    padding: 15px;
}

.header {
    display: flex;
    width: fit-content;
    margin-left: 2rem;
}

.header h4 {
    margin-left: 24rem;
    margin-top: 1.7rem;
}

.summary {
    border-top-style: dashed;
    border-width: 1px;
    display: flex;
}

.cartContent h3 {
    margin-left: 7.5rem;
    margin-top: 2rem;
}

.picture {
    margin-top: 10px;
    width: 100px;
    height: 70px;
}

.description {
    margin-left: 30px;
    margin-top: 25px;
    clear: both;
}

.value {
    /* float: right; */
    position: fixed;
    right: 3rem;
    margin-top: 10px;
}



.summary button {
    margin-left: 7.5rem;
    margin-top: 1.5rem;
    height: 40px;
    width: 120px;
    letter-spacing: 2px;
    background-color: purple
}

.summary button:hover {
    background-color: #a242a2;
}

.price {
    margin-top: 5px;
    text-align: center;
}