.buttons {
    margin-top: 3rem;
    font-size: 26px;
}

.action {
    background-color: #d3c5b5b0;
    border-style: none;
    height: 2.5rem;
    font-size: 14px;
    font-weight: 400;
    border-radius: 1px;
}

.action:hover {
    cursor: pointer;
    background-color: #d3c5b5f7;
}

.quantity {
    background-color: #d3c5b52e;
    border-style: none;
    height: 2.5rem;
    width: 3rem;

    margin-left: 5px;
    margin-right: 5px;

    font-size: 14px;
    font-weight: 400;
    border-radius: 1px;
}

.add {
    background-color: #d60000db;
    color: white;
    border-style: none;
    height: 2.5rem;
    width: 180px;
    border-radius: 4px;

    margin-left: 15px;
    letter-spacing: 2px;

    font-size: 16px;
    font-weight: 400;
}

.add:hover {
    background-color: #a40404;
}