.grid {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.texture {
    width: 4rem;
    height: 4rem;
    padding: 10px;
    margin: 1rem;
    border-style: none;
    /* pointer-events: auto; */
    align-items: center;
    justify-content: center;
    background-color: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #42445A;
}


.texture:hover {
    border: none;
    /* transition: all ease-in-out 0.2s; */
    cursor: pointer;
    filter: brightness(0.8);
    }

.texture img {
    width: 4rem;
    height: 4rem;
}

.orange {    
    background-image: url('https://cdn.polyhaven.com/asset_img/map_previews/wooden_table_02/wooden_table_02_arm_1k.jpg?height=50&width=50');
    /* background-image: url('http://localhost:3000/models/wooden_table/textures/wooden_table_02_arm_4k.jpg'); */
}

.brown {
    background-image: url('https://cdn.polyhaven.com/asset_img/map_previews/wooden_table_02/wooden_table_02_diff_1k.jpg?height=50&width=50');
}

.grey {
    background-image: url('https://cdn.polyhaven.com/asset_img/map_previews/wooden_table_02/wooden_table_02_rough_1k.jpg?height=50&width=50');
}

.purple {
    background-image: url('https://cdn.polyhaven.com/asset_img/map_previews/wooden_table_02/wooden_table_02_nor_gl_1k.jpg?height=50&width=50');
}

.white {
    background-image: url('https://cdn.polyhaven.com/asset_img/map_previews/wooden_table_02/wooden_table_02_ao_1k.jpg?height=50&width=50');
}