.content {
    border-top-style: dashed;
    border-width: 1px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 85px;
    display: flex;
}

.content:first-child {
    border: 0;
}